
<div class="inner cover">
            <h1 class="cover-heading">Finanzas y estadística para emprendedores</h1>
            <p class="lead">Un nuevo proyecto viene acompañado de numerosos interrogantes  a los que debemos dar respuesta.</p><p>Con este curso se buscamos dar a conocer nociones básicas en materia de finanzas y estadística, para ayudarnos a comprender la importancia de estas dos disciplinas en la actividad diaria de una empresa.</p><p>En los siguientes módulos prendemos proporcionar las herramientas básicas que ayuden a emprendedores a la hora de plantear sus proyectos empresariales y de llevarlos a cabo.</p><br>
            <p class="lead">
              <a class="btn btn-lg btn-default" <%= link_to courses_path do %>Comienza el curso</a>
              <% end %>
            </p>
            
</div>
