<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
         

         
         <title>Emprende |  site</title>

         <link rel="stylesheet" type="text/css" href="C:\Users\Alejandro\Desktop\Ironhack\frontgame.css"/>
        
   </head>
       
   <body> 
   <header>
	   <div class="container">
	    		<div class="row">

	    			<div class="col-md-12" >
	    				<h1>Emprende</h1>
	    			</div>
	    		</div>
	    </div>
    </header>
<div class="container">
    		<div class="row">
    			<div class="col-md-3" >
    				
						<legend>Bienvenida</legend>
			    		 	
					
				</div>
			</div>

</div>


       
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   </body>
</html> 