
<!DOCTYPE html>
<html>
<head>
</head>
<body>
		<div class="inner cover">

	      <% @courses.each do |course| %>
	        <h3><%= link_to course.name, course_path(course) %></h3>
	        <div>Topic: <%= course.topic %></div>
        
      		<% end %>
    	</div>

</body>
</html>